<h1>Just a page of me playing around with some CSS and design</h1>

<div class="backgroundbox">Animated Background</div>

<footer>
  <%= link_to "Back", sandbox_index_path, class: "btn btn-info" %>
</footer>
