<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

     <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="welcomebackground">

      <h1 class="neonshadow">Welcome To Ben Steinbook's Personal Webpage</h1>

      <h2 class="neonshadow">Always under construction so check back frequently, but in the mean time have a look around and see what there is to see. </h2>

      <%= link_to "Professional Information", info_index_path, class: "btn btn-primary" %>

      <br>

      <%= link_to "Sandbox", sandbox_index_path, class: "btn btn-primary" %>

      <br>

      <%= link_to "Leave a Comment", comments_path, class: "btn btn-primary" %>

    </div>


  </body>
</html>
