<div class="sandboxbackground">

  <h1>This is my sandbox, it's where I play, check out some of the things I've been developing</h1>

  <%= link_to "Tic-Tac-Toe", tictoe_index_path, class: "btn btn-primary" %>

  <%= link_to "Design Page", design_index_path, class: "btn btn-primary" %>

  <footer>
    <%= link_to "Back", root_path, class: "btn btn-info" %>
  </footer>

</div>
