/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// .home-background{
//   background-image: url("https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1545159_10151833354952190_729579788_n.jpg?oh=16fd483b90ca5ec21e924e4a2468578a&oe=56639DEF");
//   // background-size: cover;
// }

@import "bootstrap-sprockets";
@import "bootstrap";

.welcomebackground {
    background-image: url("DenverBackground.jpg");
    //picture shamelessly lifted from www.denvercoluxuryhomes.com
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
}

.sandboxbackground{
    background-image: url("Dunes.JPG");
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
}

footer { position: absolute; bottom: 0; }

.profbackground {
  background-color: #6495ED;
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
}

#circle {
  background-color: #7FFF00;
  width: 300px;
  height: 300px;
  position: absolute;
    top: 22%;
    left: 9%;
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  border-radius: 140px;
  border: 5px solid black;
}

#infowell{
  position: absolute;
    top: 10%;
  border: 15px ridge gray;
}

.backgroundbox{

  background: linear-gradient(191deg, #39e805, #0fd2ba, #0f47d2);

  width: 200px;
  height: 200px;
  position: absolute;
  top: 10%;
  right: 10%;
  background-size: 600% 600%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
  font-weight: bolder;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
  }
}

.neonshadow{
  color: white;
  text-shadow: 0pc 8px 8px #FFFF00,
               0pc 20px 20px yellow;
}
