<h1>This is the info page</h1>

<h2>Bio:</h2>

<div class="well col-md-5 col-sm-offset-3">
  <p>
    This is where the Bio goes let's write something really long to see where the page breaks and how to use columns to make it as long as I want.  Keep typing it's going to need to be really long and I hope I can do it without using breaks, let see what happens in the background if this takes up another line does the picture break or does the well cover it?  It's not quite there yet it needs a few more words to make it down to the next line.
  </p>
</div>

<br>


<a href="ResumePDF.pdf">View Resume</a>
