<h1>This is the info page</h1>

<h2>Bio:</h2>

<div class="well col-md-5 col-sm-offset-4">
  <p>
    Born and raised in Bethlehem, Pennsylvania I spent my youth attending private school and trying various types of summer jobs to figure out what I wanted to do with my life, to no avail.  It wasn't until I attended a boarding school in Massachusetts that I encountered Philosophy.  I loved the mental challenge, the idea that it could teach you about making arguments, and that as long as you can provide support for your answer you couldn't be wrong.
  </p>
  <p>
    Although I entered the University of Colorado undecided about what to pursue as my major, I ended up deciding on Philosophy and getting a minor in Peace & Conflist Studies (I couldn't have been more Boulder on paper).  When I graduated I decided to move to Washington D.C. and try my luck working with a non-profit.  This was a good experience but ultimately not at all what I wanted to be doing and the city was driving me crazy.  Not sure where to go or what to do I took the opportunity to travel.
  </p>

  <p>
    When I arrived in Prague I began a course to get certified to teach English as a foreign language.  I promised myself I would stick to it and try living there for at least 6 months.  I'm proud to say that four years later I found myslef having to make a very hard decision.  I loved the city, the people, and the culture.  I had established three businesses and had a wonderful girlfriend and an apartment in the center of the city, but it all seemed too short signed.  I needed something more and I wasn't going to find it there, so after hearing about these programming "bootcamps", I made the decision to move back to the US and give one a try.
  </p>

  <p>
    Having graduated from the Galvanize Fullstack program (gschool) I am eager to get my career of the ground, and continue to improve my skills as a developer.  Try clicking on the link to my sandbox to see some of the things I've been playing with.  Or get right down to business and click the link below to take a look at my resume.
  </p>

</div>

<div>

<footer>
  <%= link_to "Back", root_path, class: "btn btn-info" %>

  <a href="ResumePDF.pdf" class= "btn btn-danger">View Resume</a>
</footer>
</div>
